@model WebApplication16.Models.partyCandidate

@{
    ViewBag.Title = "إنشاء";
}

<h2>إنشاء مرشح جديد</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label for="email">الايميل</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="name">الاسم</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="phone">الهاتف</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="nationalId">الرقم الوطني</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.nationalId, new { htmlAttributes = new { @class = "form-control", @id = "nationalId" } })
                @Html.ValidationMessageFor(model => model.nationalId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="gender">الجنس</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.gender, new SelectList(new List<SelectListItem>
                {
                    new SelectListItem { Value = "Male", Text = "ذكر" },
                    new SelectListItem { Value = "Female", Text = "أنثى" }
                }, "Value", "Text"), "اختر الجنس", new { @class = "form-control", @id = "gender" })
                @Html.ValidationMessageFor(model => model.gender, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="birthDay">تاريخ الميلاد</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.birthDay, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                @Html.ValidationMessageFor(model => model.birthDay, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="typeOfChair">نوع المقعد</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.typeOfChair,
                    new List<SelectListItem>
                    {
                        new SelectListItem { Text = "تنافسية", Value = "تنافسية" },
                        new SelectListItem { Text = "مسيحية", Value = "مسيحية" },
                        new SelectListItem { Text = "شركسية", Value = "شركسية" },
                    },
                    new { @class = "form-control", @required = "required" })
                @Html.ValidationMessageFor(model => model.typeOfChair, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="religion">الدين</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.religion, new SelectList(new List<SelectListItem>
                {
                    new SelectListItem { Text = "مسلم", Value = "مسلم" },
                    new SelectListItem { Text = "مسيحي", Value = "مسيحي" }
                }, "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.religion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="electoralDistrict">المنطقة الانتخابية</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.electoralDistrict,
                    new List<SelectListItem>
                    {
                        new SelectListItem { Text = "عمان1", Value = "عمان1" },
                        new SelectListItem { Text = "عمان2", Value = "عمان2" },
                        new SelectListItem { Text = "عمان3", Value = "عمان3" },
                        new SelectListItem { Text = "إربد1", Value = "إربد1" },
                        new SelectListItem { Text = "إربد2", Value = "إربد2" },
                        new SelectListItem { Text = "البلقاء", Value = "البلقاء" },
                        new SelectListItem { Text = "الكرك", Value = "الكرك" },
                        new SelectListItem { Text = "معان", Value = "معان" },
                        new SelectListItem { Text = "الزرقاء", Value = "الزرقاء" },
                        new SelectListItem { Text = "المفرق", Value = "المفرق" },
                        new SelectListItem { Text = "الطفيلة", Value = "الطفيلة" },
                        new SelectListItem { Text = "مادبا", Value = "مادبا" },
                        new SelectListItem { Text = "جرش", Value = "جرش" },
                        new SelectListItem { Text = "عجلون", Value = "عجلون" },
                        new SelectListItem { Text = "العقبة", Value = "العقبة" },
                        new SelectListItem { Text = "البادية", Value = "البادية" },
                        new SelectListItem { Text = "بدوي شمال", Value = "بدوي شمال" },
                        new SelectListItem { Text = "بدوي وسط", Value = "بدوي وسط" },
                        new SelectListItem { Text = "بدوي جنوب", Value = "بدوي جنوب" }
                    },
                    new { @class = "form-control", @required = "required" })
                @Html.ValidationMessageFor(model => model.electoralDistrict, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="إنشاء" class="btn btn-primary" />
                @Html.ActionLink("العودة إلى القائمة", "Index", new { @class = "btn btn-secondary" })
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
      // Make sure the 'goToNextPage' element exists or remove this section if not needed
      var goToNextPageButton = document.getElementById("goToNextPage");
      if (goToNextPageButton) {
          goToNextPageButton.onclick = function () {
              window.location.href = '@Url.Action("search", "partyCandidates")';
          };
      }
    </script>
}
