@model WebApplication16.Models.partyCandidate

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>partyCandidate</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nationalId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nationalId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.birthDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.birthDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.typeOfChair)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.typeOfChair)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.religion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.religion)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.electoralDistrict)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.electoralDistrict)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.partyList.partyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.partyList.partyName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
