@model WebApplication16.Models.partyCandidate

@{
    ViewBag.Title = "Details";
    int status;
    if (!int.TryParse(Model.partyList.status, out status))
    {
        status = 0; // default value if parsing fails
    }
}

<h2>Details</h2>

<div>
    <h4>partyCandidate</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nationalId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nationalId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gender)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.birthDay)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.birthDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.typeOfChair)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.typeOfChair)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.religion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.religion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.electoralDistrict)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.electoralDistrict)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.partyList.partyName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.partyList.partyName)
        </dd>
    </dl>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@if (status == 0)
{
    <p>
        @Html.ActionLink("Approve", "Approve", new { id = Model.id }, new { @class = "btn btn-success" }) |
        @Html.ActionLink("Reject", "Reject", new { id = Model.id }, new { @class = "btn btn-danger" })
    </p>
}
else
{
    <p>Status: @status</p>
}
