@model IEnumerable<WebApplication16.Models.partyList>

@{
    ViewBag.Title = "القوائم الحزبية لدى الرئيس";
}

<h2>قائمة الأحزاب</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.partyName)</th>
            <th>@Html.DisplayNameFor(model => model.status)</th>
            <th>إجراءات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var rowClass = item.status == "1" ? "table-success" : "table-secondary";
            <tr class="@rowClass">
                <td class="text-left">@Html.DisplayFor(modelItem => item.partyName)</td>
                <td class="text-left">@Html.DisplayFor(modelItem => item.status)</td>
                <td class="text-left">
                    @Html.ActionLink("حذف", "Delete", new { id = item.id }, new { @class = "btn btn-danger btn-sm" }) |
                    <button class="btn btn-primary btn-sm goToNextPage" data-partyname="@item.partyName">اذهب إلى التفاصيل</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $(".goToNextPage").click(function() {
                var partyName = $(this).data("partyname");
                $.post('@Url.Action("StorePartyNameInSession", "PartyCandidates")', { partyName: partyName }, function(data) {
                    if (data.success) {
                        window.location.href = '@Url.Action("AdminView", "PartyCandidates")';
                    }
                });
            });
        });
    </script>
}

<style>
    .text-left {
        text-align: left;
    }
</style>
